<div *ngIf="selectedProduct; else noProductSelected" class="d-flex container" style="overflow-y: scroll;">
    <div class="mt-5 me-3 d-flex">
        <div class="card p-3 bg-white">
            <div class="d-flex justify-content-between">
                <i class="fa-brands fa-apple"></i>
                <i class="fas fa-edit" (click)="editProd()" role="button">
                </i>
            </div>
            <div class="about-product text-center mt-2"><img src="{{selectedProduct.imageSrc}}" height="212" width="300">
                <div>
                    <h4>{{selectedProduct.title}}</h4>
                    <h6 class="mt-0 text-black-50">{{selectedProduct.subtitle}}</h6>
                    <h6 class="mt-0 text-info">{{selectedProduct.category}}</h6>
                </div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
                <span>Price</span><span>${{selectedProduct.price}}</span>
            </div>
        </div>
    </div>
</div>

<ng-template #noProductSelected>
    <div class="mt-5 me-3 d-flex">
        <div class="card p-3 bg-white">
            <div class="d-flex justify-content-between total font-weight-bold">
                <span>No product selected</span>
            </div>
        </div>
    </div>
</ng-template>