    <div class="mt-5 d-flex">
        <div  class="card p-3 ms-3 bg-white">
            <form  [formGroup]="productForm">
                <fieldset>
                    <div class="form-group row mt-3">
                        <label class="col-md-3 col-form-label" for="productNameId">Name</label>

                        <div class="col-md-9">
                            <input class="form-control" id="productNameId" type="text" placeholder="Product"
                            formControlName="title" />

                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label class="col-md-3 col-form-label" for="subtitleId">Subtitle</label>

                        <div class="col-md-9">
                            <input  formControlName="subtitle" class="form-control" id="subtitleId" type="text" placeholder="subtitle" />

                        </div>
                    </div>

                    <div class="form-group row mt-3">
                        <label class="col-md-3 col-form-label" for="productCategoryId">category</label>

                        <div class="col-md-9">
                            <input  formControlName="category" class="form-control" id="productCategoryId" type="text" placeholder="Category" />

                        </div>
                    </div>

                    <div class="form-group row mt-3">
                        <label class="col-md-3 col-form-label" for="productPriceId">Price</label>

                        <div class="col-md-9">
                            <input   formControlName="price" class="form-control" id="productPriceId" type="text" placeholder="Price" />

                        </div>
                    </div>

                    <div class="d-flex mt-5 col-md-10 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary" type="submit" style="width:80px;margin-right:10px"
                           (click)="saveProduct(product)" 
                           [disabled]="!productForm.valid || !productForm.dirty" >
                                Save
                            </button>
                        </span>
                       
                        <span>
                            <button class="btn btn-danger" type="button" style="width:80px" (click)="deleteProduct(product)">
                                Delete
                            </button>
                        </span>

                        <span>
                            <button class="btn btn-light" type="button" style="width:80px" (click)="clearProduct()">
                                Clear
                            </button>
                        </span>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
