<div class='row'>
    <div class='col-md-4 p-5'>
        <app-productlist [showProductPrice]="(showProductPrice$ | async)!"
        [products]="(products$ | async)!"
        [selectedProduct]="(selectedProduct$ | async)!"
        (displayPriceChanged)="checkChanged()"
        (initializeNewProduct)="addNewProd()"
        (productWasSelected)="productSelected($event)"
        ></app-productlist>
    </div>
    <div class='col-md-8 d-flex'>
        <app-product
        [selectedProduct]="(selectedProduct$ | async)!"
        (toggleEditButton)="toggleEdit()"
        ></app-product>
        <app-productedit 
        [selectedProduct]="(selectedProduct$ | async)!"
        (clear)="clearProduct()"
        (update)="updateProduct($event)"
        (delete)="deleteProduct($event)"
        (create)="saveProduct($event)"
        *ngIf="(editButton$ | async)"></app-productedit>
    </div>
  </div>

  